# IGNORE ALL TEMPORARY TEXT EDITOR FILES
*~
*.un~
__pycache__/
**/__pycache__/
*.bat
.coverage
.pytest-cache
htmlcov.zip
htmlcov/
lists/*
data/*
junk/*
model/*
output*/*
plots/*
reports/*
validation_reports/*
htmlcov/*
logs/*
**/venv/*
tests/output/
tests/logs/



venv/*

bin/sepval_post_analysis.py
sphinxval/utils/sepval_post_analysis.py

.DS_Store
**/.DS_Store

*tmp.txt
**/*tmp.txt
