# IGNORE ALL TEMPORARY TEXT EDITOR FILES
*~
*.un~
__pycache__/
**/__pycache__/
*.bat
.coverage
.pytest-cache
htmlcov.zip
htmlcov/
lists/*
data/*
junk/*
model/*
output*/*
plots/*
reports/*
validation_reports/*
htmlcov/*

.DS_Store
**/.DS_Store

*tmp.txt
**/*tmp.txt
