# IGNORE ALL TEMPORARY TEXT EDITOR FILES
*~
*.un~
__pycache__/
**/__pycache__/
*.bat
lists/*
data/*
model/*
output*/*
plots/*
reports/*
validation_reports/*

.DS_Store
**/.DS_Store

*tmp.txt
**/*tmp.txt
